In [1]:
import pandas as pd
 
XYZ_web= {'Day':[1,2,3,4,5,6], "Visitors":[1000, 700,6000,1000,400,350], "Bounce_Rate":[20,20, 23,15,10,34]}
 
df= pd.DataFrame(XYZ_web)
 
print(df)

   Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20
2    3      6000           23
3    4      1000           15
4    5       400           10
5    6       350           34

In [5]:
type(XYZ_web)

dict

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
print(df.head(2))

   Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20

In [8]:
print(df.tail(2))

   Day  Visitors  Bounce_Rate
4    5       400           10
5    6       350           34

In [37]:
df1 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[1,2,3,4], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"HPI":[1,2,3,4],"Int_Rate":[1,2,3,4],"IND_GDP":[60,710,6,8]}, index=[2005, 2006,2007,2008])
 
merged= pd.merge(df1,df2,on ="Int_Rate")
 
print(merged)

   HPI_x  Int_Rate  IND_GDP_x  HPI_y  IND_GDP_y
0     80         1         50      1         60
1     90         2         45      2        710
2     70         3         45      3          6
3     60         4         67      4          8

In [38]:
merged

   HPI_x  Int_Rate  IND_GDP_x  HPI_y  IND_GDP_y
0     80         1         50      1         60
1     90         2         45      2        710
2     70         3         45      3          6
3     60         4         67      4          8

In [41]:
df1 = pd.DataFrame({"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"Low_Tier_HPI":[50,45,67,34],"Unemployment":[1,3,5,6]}, index=[2001, 2003,2004,2004])
 
joined= df1.join(df2)
print(joined)

      Int_Rate  IND_GDP  Low_Tier_HPI  Unemployment
2001         2       50          50.0           1.0
2002         1       45           NaN           NaN
2003         2       45          45.0           3.0
2004         3       67          67.0           5.0
2004         3       67          34.0           6.0

In [42]:
df1 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"HPI":[50,40,30,20],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])
 
concat= pd.concat([df1,df2])
 
print(concat)

      HPI  Int_Rate  IND_GDP
2001   80         2       50
2002   90         1       45
2003   70         2       45
2004   60         3       67
2005   50         2       50
2006   40         1       45
2007   30         2       45
2008   20         3       67

In [43]:
df1 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df2 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])
 
concat= pd.concat([df1,df2],axis=1)
 
print(concat)

       HPI  Int_Rate  IND_GDP   HPI  Int_Rate  IND_GDP
2001  80.0       2.0     50.0   NaN       NaN      NaN
2002  90.0       1.0     45.0   NaN       NaN      NaN
2003  70.0       2.0     45.0   NaN       NaN      NaN
2004  60.0       3.0     67.0   NaN       NaN      NaN
2005   NaN       NaN      NaN  80.0       2.0     50.0
2006   NaN       NaN      NaN  90.0       1.0     45.0
2007   NaN       NaN      NaN  70.0       2.0     45.0
2008   NaN       NaN      NaN  60.0       3.0     67.0

In [45]:
import pandas as pd
 
df= pd.DataFrame({"Day":[1,2,3,4], "Visitors":[200, 100,230,300], "Bounce_Rate":[20,45,60,10]}) 
 
df.set_index("Day", inplace= True)
 
print(df)

     Visitors  Bounce_Rate
Day
1         200           20
2         100           45
3         230           60
4         300           10

In [46]:
df = pd.DataFrame({"Day":[1,2,3,4], "Visitors":[200, 100,230,300], "Bounce_Rate":[20,45,60,10]})
 
df = df.rename(columns={"Visitors":"Users"})
 
print(df)

   Day  Users  Bounce_Rate
0    1    200           20
1    2    100           45
2    3    230           60
3    4    300           10

In [47]:
df.get_dtype_counts()

int64    3
dtype: int64

In [54]:
df.size

12

In [62]:
DataFrame=df

In [70]:
df[['Users','Bounce_Rate']]

   Users  Bounce_Rate
4    200           20
5    100           45
6    230           60
7    300           10

In [86]:
df[2:3]

   Day  Users  Bounce_Rate
6    3    230           60

In [99]:
df.iloc[:,1:6]

   Users  Bounce_Rate
4    200           20
5    100           45
6    230           60
7    300           10

In [100]:
df_float=df.Bounce_Rate.astype(float)

In [101]:
df_float

4    20.0
5    45.0
6    60.0
7    10.0
Name: Bounce_Rate, dtype: float64

In [106]:
cross=pd.crosstab(df.index,df.Bounce_Rate)
print(cross)

Bounce_Rate  10  20  45  60
row_0
4             0   1   0   0
5             0   0   1   0
6             0   0   0   1
7             1   0   0   0

In [107]:
df

   Day  Users  Bounce_Rate
4    1    200           20
5    2    100           45
6    3    230           60
7    4    300           10

In [109]:
df.sort_values('Users',ascending=True)

   Day  Users  Bounce_Rate
5    2    100           45
4    1    200           20
6    3    230           60
7    4    300           10

In [114]:
df.drop('Users',axis=1)

   Day  Bounce_Rate
4    1           20
5    2           45
6    3           60
7    4           10

In [118]:
df['Bounce_id']=df.eval('Day + Bounce_Rate')

In [122]:
df['sum_bounce']=df.eval('Users+Bounce_id')

In [130]:
print(df.describe)

<bound method NDFrame.describe of    Day  Users  Bounce_Rate  Bounce_id  sum_bounce
4    1    200           20         21         221
5    2    100           45         47         147
6    3    230           60         63         293
7    4    300           10         14         314>

In [133]:
print(df.sum_bounce.max())

314

In [150]:
df.isnull().sum()

Day            0
Users          0
Bounce_Rate    0
Bounce_id      0
sum_bounce     0
dtype: int64

In [151]:
df.rank()

   Day  Users  Bounce_Rate  Bounce_id  sum_bounce
4  1.0    2.0          2.0        2.0         2.0
5  2.0    1.0          3.0        3.0         1.0
6  3.0    3.0          4.0        4.0         3.0
7  4.0    4.0          1.0        1.0         4.0

In [153]:
table_1 = ['1','Manchester',45]

In [154]:
table_1

['1', 'Manchester', 45]

In [155]:
type(table_1)

list

In [156]:
table_2 = ('2','Arsenal',40)

In [157]:
table_2

('2', 'Arsenal', 40)

In [158]:
type(table_2)

tuple

In [160]:
table_1.append(4)

In [ ]:
table_1

table_2.append(4)

In [ ]:
match=re.search('\w*end','Hey! What are your plans for the weekend and watchmenend?')
match.group()

In [ ]:
match=re.search(r'[\w.-]+@[\w-]+.[\w]+','Please mail it to ayushiwashere@gmail.com')

In [ ]:
match=re.search(r'[\w.-]+@[\w-]+.[\w]+','Please mail it to sunil@kumar.bhaskar')